#main > .common > .title {
    opacity: 0;
}

#main > .common {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    padding: 0.5rem 0.5rem;
}

#main > .showing-page {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /*background-color: #888*/
}

#main > .showing-page > h2 {
    font-size: 4rem;
}

#main > .showing-page > .title-info > .img-box > .image {
    animation-name: movingArrow;
    animation-timing-function: ease;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@keyframes movingArrow {
    0% {
        transform: translateY(10%);
    }
    100% {
        transform: translateY(100%);
    }
}

#main > .showing-page > .title-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


#main > .my-info > .introduce {
    width: 70vw;
    height: 30rem;

    align-items: center;
    background-color: #ffffff;
    word-spacing: 0.875rem;
    overflow: hidden;
    padding: 0 3rem;

}

#main > .my-info > .introduce > .profile {
    background-color: #1E5687;
    border-radius: 99rem;
    width: 20rem;
}

#main > .my-info > .introduce > .profile > .profileImg {
    width: 100%;
    height: 100%;
}

#main > .my-info > .introduce > .introduce-message {
    width: 55rem;
    height: 20rem;
    box-sizing: border-box;
    padding: 0 2rem;
    color: #000000;
    line-height: 1.4;
    display: inline-block;

    animation-name: moving-word;
    animation-timing-function: ease-in-out;
    animation-duration: 1s;
}

#main > .my-info > .introduce > .introduce-message strong {
    font-size: 2.5rem;
}

/*추가*/
#main > .common > .title.active-title {
    color: #1E5687;
    transition: color 0.3s ease-in-out;
}

header .item a.active-menu {
    color: #1E5687;
    font-weight: bold;
    border-bottom: 2px solid #1E5687;
    transition: all 0.3s ease;
}


@keyframes moving-word {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(0%);
    }
}

#main > .license-info > .license {
    width: 70vw;
    height: 30rem;
    align-items: center;
    background-color: #ffffff;
    color: #000000;

}

#main > .license-info > .license > .education-info {
    width: 50%;

    align-items: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    padding-left: 9rem;

    animation-name: moving-word;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
}

#main > .license-info > .license > .education-info > h3 {
    background-color: #1E5687;
    border-radius: 80rem;
    padding: 0 2rem;
    color: white;
}

#main > .license-info > .license > .education-info > .list {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    gap: 2rem;

}

#main > .license-info > .license > .license-message {
    width: 50%;
    align-items: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    padding-right: 9rem;
    animation-name: moving-word;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
}

#main > .license-info > .license > .license-message > h3 {
    background-color: #1E5687;
    border-radius: 80rem;
    padding: 0 2rem;
    color: white;
}

#main > .license-info > .license > .license-message > .list {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    gap: 2rem;
}


#main > .skill-info > .skill {
    width: 70vw;
    height: 30rem;

    align-items: center;
    background-color: #ffffff;
    border-radius: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;

}

#main > .skill-info > .skill > .skill-message {
    width: 80%;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#main > .skill-info > .skill > .skill-message > .list {
    width: 100%;

    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 5rem;
    margin-right: 2rem;
    animation-name: moving-word;
    animation-iteration-count: inherit;
    animation-duration: 1s;

}

#main > .skill-info > .skill > .skill-message > .list > .item {
    align-items: center;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: flex-start;
    padding: 0.5rem;
}

#main > .skill-info > .skill > .skill-message > .list > .item > .caption {
    position: relative;
    font-weight: 600;
    opacity: 1;
}

#main > .skill-info > .skill > .skill-message > .list > .item > .caption::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 0.125rem;
    transform: scaleX(0);
    bottom: 0;
    left: 0;
    background-color: #1E5687;
    transform-origin: bottom right;
    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: linear;
}

#main > .skill-info > .skill > .skill-message > .list > .item:hover > .caption::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

#main > .skill-info > .skill > .skill-message > .list img {
    width: 5rem;
    height: 5rem;
}

#main > .project-info > .project {
    width: 70vw;
    height: 30rem;
    background-color: #ffffff;
    -ms-overflow-style: none;
    overflow-x: scroll;
}

#main > .project-info > .project::-webkit-scrollbar {
    width: 1rem;
}

#main > .project-info > .project::-webkit-scrollbar-thumb {
    width: 0.2rem;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 0.625rem;
}

#main > .project-info > .project::-webkit-scrollbar-track {
    display: none;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 0.625rem;
}

#main > .project-info > .project > .project-message {
    width: 100%;
    padding: 1rem 5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#main > .project-info > .project > .project-message > .list {
    width: 76rem;
    /*background-color: #1E5687;*/
    box-sizing: border-box;
    padding-right: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    animation-name: moving-word;
    animation-iteration-count: inherit;
    animation-duration: 1s;
}

#main > .project-info > .project > .project-message > .list > .item {
    width: 40rem;
    height: 20rem;
    /*background-color: #ece9e9;*/
    border-radius: 0.5rem;
    box-sizing: border-box;
    line-height: 2;
    padding: 0 0.5rem;
}

#main > .project-info > .project > .project-message > .list > .item:hover {
    width: 45rem;
    height: 25rem;
    box-shadow: 0 0.9rem 1.5rem 0.08rem #000000;
}

#main > .project-info > .project > .project-message > .list > .item button {
    border: none;
    background-color: black;
    border-radius: 0.2rem;
    color: #ffffff;
    padding: 0.5rem;
}

#main > .project-info > .project > .project-message > .list > .item button:hover {
    background-color: #1E5687;
}

#main > .project-info > .project > .project-message > .list > .item button:active {
    background-color: #888888;
}

#main > .project-info > .project > .project-message > .list > .item > .description strong {
    position: relative;
}

#main > .project-info > .project > .project-message > .list > .item > .description strong::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-image: repeating-linear-gradient(
            to right,
            white 0,
            white 4px,
            black 4px,
            black 8px
    );;
    left: 0;
    bottom: 0;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: linear;
}

#main > .project-info > .project > .project-message > .list > .item:hover > .description strong::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

#main > .project-info > .project > .project-message > .list > .item img {
    width: 100%;
    height: 50%;
}

#main > .project-info > .project > .project-message > .list > .item a {
    color: #1E5687;
    font-size: 0.7rem;
    font-weight: 500;
}

.sticky-elem {
    display: none;
    opacity: 0;
}

#show-scene-0 #scroll-section0 .sticky-elem,
#show-scene-1 #scroll-section1 .sticky-elem,
#show-scene-2 #scroll-section2 .sticky-elem,
#show-scene-3 #scroll-section3 .sticky-elem,
#show-scene-4 #scroll-section4 .sticky-elem {
    display: flex;
    flex-direction: row;
    justify-self: flex-start;
    border-radius: 10rem;
    animation-name: moving-word;
    animation-timing-function: ease-in-out;
    animation-duration: 1s;
}

@media screen and (max-width: 100rem) {
    #main {
        /*background-color: pink;*/
    }

    #main > .common {
        flex-direction: column;
        padding: 1rem;
    }

    #main > .showing-page > h2 {
        text-align: center;
    }

    #main > .my-info > .introduce {
        flex-direction: column;
        width: 80vw;
        height: 20rem;
    }

    #main > .my-info > .introduce > .profile {
        width: 12rem;
        margin: 0 auto;
    }

    #main > .my-info > .introduce > .introduce-message {
        box-sizing: border-box;
        width: 100%;
        height: auto;
        padding: 2rem;
        font-size: 0.8rem;
    }

    #main > .my-info > .introduce > .introduce-message strong {
        font-size: 1.5rem;
    }

    #main > .license-info > .license {
        flex-direction: column;
        width: 90vw;
        height: 20rem;
    }

    #main > .license-info > .license > .education-info,
    #main > .license-info > .license > .license-message {
        width: 100%;
        padding: 1rem 0;
    }

    #main > .skill-info > .skill {
        flex-direction: column;
        width: 90vw;
        height: 20rem;
    }

    #main > .skill-info > .skill > .skill-message {
        width: 100%;
        height: 100%;
        flex-direction: column;
    }

    #main > .skill-info > .skill > .skill-message > .list::-webkit-scrollbar {
        display: none;
    }

    #main > .skill-info > .skill > .skill-message > .list {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1.5rem;
        overflow-x: scroll;
    }

    #main > .skill-info > .skill > .skill-message > .list img {
        width: 3rem;
        height: 3rem;
    }

    #main > .project-info > .project {
        width: 90vw;
        height: 30rem;
        box-sizing: border-box;
        padding-left: 1rem;
    }

    .sticky-elem {
        border-radius: 10rem;
    }
}

@media screen and (max-width: 80rem) {
    #main {
        /*background-color: #945034;*/
    }

    #main > .project-info > .project {
        width: 90vw;
        height: 30rem;
        box-sizing: border-box;
        padding-left: 10rem;
    }

}

@media screen and (max-width: 60rem) {
    #main {
        /*background-color: orange;*/
    }

    #main > .common {
        flex-direction: column;
        padding: 1rem;
    }

    #main > .showing-page > h2 {
        font-size: 2rem;
        text-align: center;
    }

    #main > .my-info > .introduce {
        flex-direction: column;
        width: 80vw;
        height: 20rem;
    }

    #main > .my-info > .introduce > .profile {
        width: 12rem;
        margin: 0 auto;
    }

    #main > .my-info > .introduce > .introduce-message {
        box-sizing: border-box;
        width: 100%;
        height: auto;
        padding: 2rem;
        font-size: 0.8rem;
    }

    #main > .my-info > .introduce > .introduce-message strong {
        font-size: 1.5rem;
    }

    #main > .license-info > .license {
        flex-direction: column;
        width: 90vw;
        height: 20rem;
    }

    #main > .license-info > .license > .education-info,
    #main > .license-info > .license > .license-message {
        width: 100%;
        padding: 1rem 0;
    }

    #main > .skill-info > .skill {
        flex-direction: column;
        width: 90vw;
        height: 20rem;
    }

    #main > .skill-info > .skill > .skill-message {
        width: 100%;
        height: 100%;
        flex-direction: column;
    }

    #main > .skill-info > .skill > .skill-message > .list::-webkit-scrollbar {
        display: none;
    }

    #main > .skill-info > .skill > .skill-message > .list {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1.5rem;
        overflow-y: scroll;
    }

    #main > .skill-info > .skill > .skill-message > .list img {
        width: 3rem;
        height: 3rem;
    }

    #main > .project-info > .project {
        width: 90vw;
        height: 30rem;
        box-sizing: border-box;
        padding-left: 20rem;
    }

    .sticky-elem {
        border-radius: 10rem;
    }
}

@media screen and (max-width: 40rem) {
    #main {
        /*background-color: greenyellow;*/
        overflow-x: hidden;
    }

    #main > .my-info > .introduce > .introduce-message {
        font-size: 0.7rem;
    }

    #main > .my-info > .introduce > .introduce-message strong {
        font-size: 0.9rem;
    }

    #main > .license-info > .license {
        width: 90vw;
        height: 20rem;
    }

    #main > .license-info > .license h3 {
        font-size: 1rem;
    }

    #main > .license-info > .license > .education-info {
        max-width: 50vw;
        font-size: 0.8rem;
        white-space: nowrap;
        margin-left: 2rem;
    }

    #main > .license-info > .license > .license-message {
        max-width: 50vw;
        font-size: 0.8rem;
        white-space: nowrap;
        margin-right: 2rem;
    }

    #main > .project-info > .project {
        width: 90vw;
        height: 30rem;
        box-sizing: border-box;
        padding-left: 33rem;
    }

    #main > .project-info > .project > .project-message > .list > .item {
        height: 20rem;
        /*background-color: #1E5687;*/
    }

    #main > .project-info > .project > .project-message > .list > .item img {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    #main > .project-info > .project > .project-message > .list > .item:hover {
        height: 21rem;
    }
}

